# Ignorar dependencias locales (Docker las instalará por su cuenta)
/vendor
/node_modules

# Ignorar archivos de caché y temporales de Laravel
/bootstrap/cache/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Ignorar archivos de entorno locales (¡Seguridad vital!)
.env
.env.*
.phpunit.cache

# Ignorar Git y otros
.git
.idea
.vscode
